{% extends 'base.html' %}

{% block content %}
    <div id="user-control">
        <h2>Hello, {{ request.user }}</h2>
        <p><a href="{% url 'users:logout' %}">Logout</a></p>
    </div>
    <p id='add-diary-nav'>Add <a href="{% url 'personalDiary:new-diary' %}">New</a> diary</p>
    <ul id='notes-list'>
        {% if diaries %}
        {% for diary  in diaries %}
            <li><span class="note-date">{{ diary.created |date}}</span><a href="{% url 'personalDiary:detail-diary' diary.id %}">{{ diary.title }}</a></li>    
        {% endfor %}
        {% else %}
            <p>Oppp! You hvae not write any diary!</p>
        {% endif %}
    </ul>
{% endblock content %}