body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.btn-dark{
    color: #fff;
    background: #333;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    vertical-align: middle;
}

.inline-btn{
    background: rgb(69, 124, 69);
    padding: 0.5rem 0 ;
    color: #fff;
    display: block;
    width: 50%;
    margin: 1rem auto;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
}

.del-btn{
    background: hsla(0, 93%, 33%);
}

header{
    background: rgb(69, 124, 69);
    padding: 1rem;
}

header #logo{
    text-align: center;
    color: whitesmoke;
}

.container{
    width: 800px;
    margin: 1rem auto;
}

/* form */

form{
    border: 1px solid #333;
    width: 500px;
    margin: 0 auto;
}

form h3 {
    background: rgb(69, 124, 69);
    color: white;
    width: 100%;
    margin: 0;
    padding: 1rem 0;
    text-align: center;
}

/* error handling */
form ul.errorlist li {
    color: rgba(212, 8, 8, 0.74);
    font-size: 0.9rem;
}

form#register-form p {
    display: block;
}

form#register-form p span{
    display: block;
    padding-left: 1rem;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

form#register-form p input{
    display: block;
}

form#register-form ul li {
    color: hsl(95, 61%, 20%);
    font-size: 0.8rem;
}
form p {
    padding: 0 1rem ;
    color: rgb(69, 124, 69);
    display: flex;
    align-items: center;
    justify-content: center;
}

form input[type=submit], form button{
    background: rgb(69, 124, 69);
    padding: 0.5rem;
    color: #fff;
    display: block;
    width: 50%;
    margin: 1rem auto;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
}

/* user list diary */

#user-control{
    background: #333;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    color: whitesmoke;
}

#user-control a {
    color: whitesmoke;
}

/* add new diary nav */

#add-diary-nav{
    width: 100%;
    background: hsl(0, 0%, 40%);
    padding: 1rem;
    margin: 0;
    color: #fff;
}

#add-diary-nav a {
    color: inherit;
}

#notes-list{
    width: 100%;
    list-style: none;
    padding: 1rem;
    display: block;
    margin: 0;
    background: hsl(0, 0%, 60%);
}

#notes-list li {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
    border-bottom: #333 1px solid;
}

#notes-list li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;

}

#notes-list li span{
    color: rgb(209, 212, 13);
}

/* diary detail */

.title3{
    text-transform: capitalize;
    font-size: 1.5rem;
    text-align: center;
}

.body{
    border: 1px #333 solid;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
    padding: 1rem;
}

.btns-container{
    float: right;
    padding: 1rem;

}

.btns-container a:first-child{
    background: rgb(0, 0, 0, 0.5);
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}
.btns-container a:nth-child(2){
    background: rgba(212, 8, 8, 0.74);
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}